<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>React ExpressJS</title>
    <meta name="description" content="" />
    <meta name="Robots" content="INDEX,ALL" />
    <meta name="YahooSeeker" content="INDEX, FOLLOW" />
    <meta name="msnbot" content="INDEX, FOLLOW" />
    <meta name="googlebot" content="INDEX, FOLLOW" />
    <meta name="allow-search" content="yes" />
    <meta name="revisit-after" content="daily" />
    <meta name="Rating" content="General" />
    <meta name="site" content="https://www.example.com" />
    <meta name="distribution" content="global" />
    <meta name="Copyright" content="" />
    <meta name="theme-color" content="#0e5354" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%- stylesheets %>
</head>

<body>
    <div id="app"><%- content%></div>

    <script>
        window.APP = {
            <% if (user) { %>USER: <%- JSON.stringify(user) %>,<% } %>
            STATE: <%- JSON.stringify(state) %>
        };
    </script>
    <script type="text/javascript" src="<%= `${cdnUrl}/vendor.js` %>"></script>
    <script type="text/javascript" src="<%= `${cdnUrl}/commons.js` %>"></script>

    <% preloadedBundles.forEach(function(bundle) { %>
        <script type="text/javascript" src="<%= `${cdnUrl}/${bundle.file}` %>"></script>
    <% }); %>

    <script type="text/javascript" src="<%= `${cdnUrl}/main.js` %>"></script>
</body>

</html>